<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="classes" thread-count="2">
<!--    <parameter name="browserName" value="Chrome"/>-->
    <test name="Learning TestNG">
        <classes>
            <!--            <class name="login_tests.ResetLoginTest"/>-->
            <class name="listeners_work.OneEqualsOne"/>
            <class name="listeners_work.OneEqualsZero"/>
        </classes>
    </test>


    <listeners>
        <listener class-name="utils.TestNJListener"/>
    </listeners>

</suite>